<div id="infoWindowContainer">
  <div class="info-wrapper">
    <div id="content">
      <h1 id="stationName">Station Name</h1>

      <div id="bodyContent">
        <div id="chart_div">Loading...</div>
      </div>
    </div>
  </div>
</div>