<h1>Station Charts</h1>

<div id="stationList">
</div>

<div id="chartView">
  <div class="chartBox collapsed" id="lastWeek">
    <h4>Last Week</h4>
    <div class="chart-area" id="lastweekchart"></div>
  </div>
  <div class="chartBox collapsed" id="lastMonth">
    <h4>Last Month</h4>
    <div class="chart-area" id="lastmonthchart"></div>
  </div>
  <div class="chartBox collapsed" id="lastYear">
    <h4>Last Year</h4>
    <div class="chart-area" id="lastyearchart"></div>
  </div>
  <div class="chartBox collapsed" id="custom">
    <h4>Custom</h4>
    <div class="chart-area" id="customchart">
      In development....
    </div>
  </div>
</div>

