<h1>{{title}}</h1>
{{!-- <p>Please choose a city</p>
<select id="location_select">
    {{#each this.locations as |location|}}
    <option value="{{location.code}}">{{location.name}}</option>
    {{/each}}
</select> --}}

<div id="map"></div>

{{> infoWindow}}

